# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.log
*.db

# Node
node_modules/
dist/
dist-ssr
*.local
.eslintcache

# OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
